/bin/composer
/bin/composer-setup.php
/bin/iron-worker.tmp
/public.built/
/tmp/
/vendor/bin/
/vendor/composer/
/vendor/justinraibow/
/vendor/mustache/
/vendor/nb/
/vendor/predis/
/vendor/psr/
/vendor/ramsey/
/vendor/rmccue/
/vendor/seld/
/vendor/symfony/
/vendor/wp-cli/
/vendor/WordPress/wp-admin/
/vendor/WordPress/wp-includes/
/.vagrant/
